@charset "utf-8";
html {
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  background-color: #fff;
  font-size: 0.75em;
  display: block;
  }
div {
  margin: 0; padding: 0;
  display: block;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    display: block;
    list-style: none;
}
#gnb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 9999;
}

/* 메인 헤더 로고 */
#gnb .header_main_logo {
  margin: 0; padding: 0;
  text-align: left;
  width: 5.5vw;
  position: absolute;
  left: 70px;
  top: 12px
}
#gnb .header_main_logo>img {
  margin: 0; padding: 0;
  vertical-align: top;
}
#gnb .header_main_logo a {
  margin: 0; padding: 0;
}

/* 메인 헤더 풀드롭 다운 메뉴 */
#gnb .fulldown_bg .inner {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  color: #666;
}
#gnb .fulldown_bg .inner ul:nth-child(1) {
  margin-right: 85px;
}
#gnb .fulldown_bg .inner ul {
  text-align: left;
}
#gnb .fulldown_bg .inner ul a {
  line-height: 2;
  color: #666;
  margin: 30px 0;
  padding: 10px 15px;
}
#hd_wrapper {
  display: flex;
  flex-flow: row nowrap;
}
#hd_wrapper #gnb .fulldown_bg {
  position: absolute;
  width: 100%; height: 300px;
  background-color: #f8f8f8;
  top: 70px;
  border-bottom: 1px solid #eee;
  display: flex; justify-content: center;
  padding: 0; margin: 0;
}
#hd_wrapper #gnb .fulldown_bg {
  position: absolute;
  width: 100%; height: 300px;
  background-color: #f8f8f8;
  top: 70px;
  border-bottom: 1px solid #eee;
}
.dropdown {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color:  #f8f8f8;
  top: 70px;
  display: none;
}
.dropdown .inner_menu {
  width: 1280px;
  margin: 0 auto;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.inner_menu>ul {
  text-align: left;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
.inner_menu::after {
  content: "";
  clear: both;
  display: block;
}
.inner_menu>ul:nth-child(1) {
  margin-right: 85px;
}
.inner_menu ul:nth-child(2) {
  margin-right: 30px;
}
.inner_menu ul:nth-child(3) {
  margin-right: 90px;
}
.inner_menu ul:nth-child(4) {
  margin-right: 60px;
}
.dropdown li a {
  font-size: 15px;
  color: #666;
  display: inline-block;
  text-decoration: none;
  line-height: 35px;
  cursor: pointer;
}
.dropdown li a:hover {
  color: #222;
}
#gnb:hover .dropdown {
  display: block;
}

 /* 메인 헤더 메뉴 */
 .gnb_wrapper {
  display: flex; justify-content: center;
  align-items: center;
  
  font-size: 1.6em;
  width: 100vw; height: 70px;
}
#gnb .custom_menu {
  width: 100%;
  height: 60px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#gnb>ul {
  margin: 0; padding: 0;
  list-style: none;
  position: relative;
  top: 0; left: 0;
  display: inline-table;
}
#gnb .custom_menu > li {
  display: inline-block;
  margin: 0;
}
#gnb .custom_menu li a {
  width: 140px; height: 60px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* margin-right: 60px; */
  color: #222;
  text-decoration: none;
  position: relative;
  font-family: 'NEXON Lv2 Gothic Bold', sans-serif;
}
#gnb .custom_menu a.menu_ {
  margin: 0px;
}
.gnb_wrapper ul li {
  font-weight: 700;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  margin: 0 20px;
  color: #000;
}

/* 메인 버튼 */
.header_language_select {
  margin: 0;
  padding: 2px 0;
  font-size: 10px;
  background-color: #222;
  color: #fff;
  width: 88px; height: 24px;
  line-height: 30px;
  text-align: right;
  position: absolute;
  right: 70px; top: 15px;
  
  border: 0 solid #000;
  border-radius: 50px 50px 50px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_language_select a {
  color: #fff;
  text-decoration: none;
  margin: 20px auto;
  font-size: 11px;
  padding: 4px 0;
  display: inline-block;
  text-align: center;
  position: relative;
}
.header_language_select a:nth-child(2) {
  color: #999;
}
.header_language_select .current::after {
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  right: -10px;
  top:13px
}

/* 헤더 소메뉴 보이게 css */
#hd_wrapper > #gnb > .fulldown_bg {
  display: none;
}
/* #gnb .custom_menu:hover, .fulldown_bg ul {
  display: block;
} */
main {
  box-sizing: border-box;
  padding-bottom: 300px;
}
.sub_top {
 text-align: right;
 /* max-width: 1280px; height: 19px; */
 margin: 70px auto;
 margin-bottom: 0;
 width: 70%;
 display: block;
}
.sub_top img {
padding-right: 10px;
}
.sub_top p {
  font-size: 15px;
  font-family: 'NEXON Lv2 Gothic Light', sans-serif;
  color: #666;
  margin: 0;
  padding: 0;
}
.support {
  width: 87%; height: 900px;
  margin: 0 auto;
  margin-bottom: 0;
  position: relative;
  padding-bottom: 40px;
}
.support h1 {
  font-size: 66px;
  margin: 0;
  padding-left: 180px;
  font-family: 'NEXON Lv2 Gothic Bold', sans-serif;
}
.support img {
  margin-top: 40px;
}
.support p {
  position: absolute;
  color: #fff;
  font-size: 30px;
  bottom: 12%; left: 16%;
  font-family: 'NEXON Lv2 Gothic Light', sans-serif;
}
.title_box {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}
.title_box h2 {
 font-size: 66px;
 font-family: 'NEXON Lv2 Gothic Bold', sans-serif;
 color: #222;
 margin: 0; padding: 0;
}
.title_box p {
  font-size: 26px;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  padding: 20px 0 50px;
  margin: 0;
}
.title_box .bar {
  width: 1px;
  height: 50px;
  background-color: #191b1d;
  display: block;
  margin: 0 auto;
}
.content_box {
  width: 1280px; height: 90vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 150px;
}
.content_box .txt {
  width: 540px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}
.content_box .txt h3 {
font-size: 30px;
font-family: 'NEXON Lv2 Gothic Bold', sans-serif;
color: #222;
margin: 0;
}
.content_box .txt p {
  font-size: 19px;
  font-family: 'NEXON Lv2 Gothic', sans-serif;
  color: #777;
  word-break: keep-all;
  padding-bottom: 20px;
}
.content_box img {
  width: 540px;
  padding-left: 100px;
}
#box2 {
  flex-direction: row-reverse;
}
#box2 img {
padding-right: 100px;
padding-left: 0;
}
#box2 .txt {
  padding-right: 100px;
}

/* 푸터 */
footer {
  background-color: #f3f3f3;
  width: 100%; height: 400px;
  /*margin-top: 500px; height: 380px; */
}
footer .footer_top {
  width: 62%; height: 45%;
  margin: 0 auto;
}
.inner_container.col {
  float: left;
  width: 50%;
}
.footer_top .inner_container {
  width: 95%;
  max-width: 40%;
  margin: 0 auto;
  position: relative;
}
footer .inner_container .col_left img {
  margin: 20px 0;
}
.inner_container .footer_logo {
  margin-bottom: 2.5vw;
  width: 8vw;
  display: inline-block;
  margin-bottom: 30px;
  display: block;
}
footer .inner_container img {
  text-align: left;
  padding: 0;
  float: left;
}
footer .inner_container a {
  margin: 0;
  padding: 0;
}
footer .inner_container {
  margin: 0;
  padding: 0;
  float: left;
}
footer .inner_container .footer_info_wrap {
  line-height: 1.8;
  float: left;
  clear: both;
}
.footer_info_wrap .info_txt {
  font-size: 13px;
  color: #999;
  line-height: 1.6em;
  margin-bottom: 15px;
  margin: 0;
}
.footer_info_wrap .info_txt a {
  margin: 0; padding: 0;
}
.footer_info_wrap>img {
  margin: 15px 0;
}
footer .footer_info_wrap>img a {
  margin: 0;
  padding: 0;
}
.col_right { display: flex; justify-content: right; }
    .col_right .wrapper { margin-top: 50px; margin-right: 60px; padding: 0; justify-content: left;}
    .col_right  li>a { font-size: 13px;
        color: #999;
        line-height: 2em;}
    .col_right .wrapper h3 { margin: 0; margin-bottom: 15px; padding: 0;}
    .col_right .wrapper h3 a { font-size: 15px; font-weight: 400; color: #222;}
    .col_right .wrapper a:hover { color: #000;}
    .col_right ul { margin: 0; padding: 0;}
    .col_right .wrapper_5 {margin-right: 0;}

    /* 푸터 하단 좌측 카피 */
    #ft_wr {
      margin-top: 150px; padding: 0;
      border-top: 1px solid #ddd;
      width: 100%; height: 70px;
      display: flex; justify-content: center;
  }
  #ft_wr > .inner_container {
      width: 62%; height: 70px;
      line-height: 70px;
      position: relative;
  }
  .inner_container .copright {
      margin: 0; padding: 0;
      float: left;
  }
  .inner_container .copright p {
      height: 20px; line-height: 70px;
      margin: 0; padding: 0;
      font-size: 14px;
      color: #999;
  }
  .footer_family_site {
    position: absolute;
    right: 0;
    float: right;
}
.dropup {
    position: relative;
    display: inline-block;
}
.dropup .dropbtn {
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border: none;
    width: 220px;
    text-align: left;
    background: transparent;
    position: relative;
}
.dropup .dropbtn a {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}
.dropup .dropbtn::after{
    content: "▲";
    font-size: 9px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

 /* 푸터 하단 버튼 */
 button {
  display: inline-block;
}
button a {
  color: white;
  font-weight: bold;
  font-size: 17px;
}
#top_btn {
  position: fixed;
  border-radius: 50px;
  width: 59px;
  height: 59px;
  background: #191b1d;
  color: #fff;
  border: none;
  font-weight: bold;
  bottom: 100px;
  right: 30px;
}
.sound_only {
  display: inline-block !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  border: 0 !important;
  overflow: hidden !important;
}